{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id"
          content="496242984071-j4rj7pu3bddcgm4lbqa48l2n32cjjt4c.apps.googleusercontent.com">
    <title>
        {% block site_title %}
            ADC
        {% endblock %}
    </title>
    <link rel="apple-touch-icon" sizes="57x57" href="/media/logofavicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/media/logofavicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/media/logofavicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/media/logofavicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/media/logofavicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/media/logofavicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/media/logofavicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/media/logofavicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/logofavicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/media/logofavicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/logofavicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/media/logofavicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/logofavicon/favicon-16x16.png">
    <link rel="manifest" href="/media/logofavicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/media/logofavicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}"/>
{#    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">#}
    <link rel="stylesheet" href="{% static "font-awesome-4.5.0/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-social.css" %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "bootstrap-datepicker/css/bootstrap-datepicker3.min.css" %}"/>


    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>

    {#    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}"/>#}
    {#    <link rel="stylesheet" type="text/css" href="{% static "fileupload/css/fileinput.min.css" %}"/>#}


    {#    <script type="text/javascript" src="{% static "js/jquery-1.12.1.min.js" %}"></script>#}
    {#    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>#}
    {#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuOvhPr_TG2wXvPc_N0QSzNzDxf9hAkgw&sensor=false"></script>#}
    {#    <script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>#}

    {#    <script type="text/javascript" src="{% static "js/bootstrap-filestyle.min.js" %}"></script>#}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->

</head>
<body>

<div class="">
    <nav class="navbar navbar-default" id="navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/benchmark">
                    <img src="/media/logos/logo.png ">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right" id="rightNavbar">
                    {% if user.is_authenticated and backends.associated %}
                        <li class="active"><a href="/home/benchmark">DEMO</a></li>
                    {% else %}
                        <li><a href="/login">DEMO</a></li>
                    {% endif %}
                    <li><a href="/about/us/">ABOUT</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">PRODUCTS
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="disabled"><a href="#">Fund Data</a></li>
                            <li class="disabled"><a href="#">Firm Data</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="/home/benchmark">Benchmark</a></li>
                            {% else %}
                                <li class="active"><a href="/login">Benchmark</a></li>
                            {% endif %}
                            <li class="disabled"><a href="#">Top Fund Search</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact/us">CONTACT US</a></li>
                    {% if user.is_authenticated %}

                        {#                        <li><a href="/logout">LOG OUT</a></li>#}
                        <li><a href="/logout">
                            <span class="glyphicon glyphicon-log-out"></span> LOG OUT
                        </a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<div class="container">
    <div class="row ">

        <div class="col-lg-12">

            {% block navigation %}

            {% endblock %}
        </div>
    </div>

    <div class="content qtx-content">
        <div class="row custom-row-margin">
            {% block site_content %}
                <div class="col-lg-6">

                    {% block map1content %}
                    {% endblock %}
                </div>
                <div class="col-lg-6">

                    {% block map2content %}
                    {% endblock %}

                </div>
            {% endblock %}
        </div>
    </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="col-md-6 copyright">
        &copy; Copyright 2017 ADC- All rights reserved
    </div>
    <div class="col-md-5" id="footerIcons">
        <i class="fa fa-google-plus-square fa-6" aria-hidden="true"></i>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </div>
</div>
<div class="ravimodal"><!-- Place at bottom of page --></div>
    <!-- Modal -->
    <div id="chartSharedModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content chart-shared-content">
          <div id="chartSharedModalMsg" class="modal-body">
            <p>Hello this is a msg!</p>
              <br>

          </div>
          <div class="modal-footer chart-shared-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

{#<script async defer#}
{#        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuOvhPr_TG2wXvPc_N0QSzNzDxf9hAkgw&callback=initMap">#}
{#</script>#}
<script src="{% static "js/jquery-1.12.1.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>


<script type="text/javascript" src="{% static "bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/script.js" %}"></script>
{% block javascript %}

{% endblock %}
</body>
</html>